+++
title = "Goldydocs"
linkTitle = "Goldydocs"

+++

{{< blocks/cover title="Welcome to B-AIR: A EE106A Project!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/about" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/NickL77/HPB">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">Balloon Floating! with Nicholas Liu, Kevin Shi, Leo Liu, and Newman Hu</p>
	<div class="mx-auto mt-5">
		{{< blocks/link-down color="info" >}}
	</div>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
B-AIR is designed to detect a falling balloon, maneuver underneath it, and keep the balloon in the air.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="EE106A Final Project" %}}
This is a Fall 2019 EE106A UC Berkeley Project by undergraduate students Nicholas Liu, Kevin Shi, Leo Liu, and Newman Hu
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Our Github is always open!" url="https://github.com/NickL77/HPB" %}}
All of our code is public on **GitHub**. Everyone is always welcome to check out our repository!
{{% /blocks/feature %}}

{{< /blocks/section >}}


